<!DOCTYPE html>
<html>
<head>
	<title>My Website</title>
	<link rel="stylesheet" href="css/style-contact.css">
</head>
<body>
	<%- include('header-dashboard',{username:username}) %>

	<main>
		<h1>Contact Us</h1>
        <form>
 
            <p>
                <label>Username : <input type="text" /></label>
            </p>
     
            <p>
                <label>Email : <input type="email" /></label>
            </p>

            <p>
                <label>Message : <textarea cols="20" rows="5"></textarea></label>
            </p>

            <p>
                <button type="submit">Submit</button>
            </p>
     
        </form>
	</main>
    <%- include('footer') %>

</body>
</html>
