<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (username){ %>
        <%- include('header-dashboard',{username:username}) %>
            <% } %>
                <main class="main">
                    <h1>View Details</h1>
                    <% if(data) %>
                    <% } %>
                </main>
                <%- include('footer') %>
</body>
</html>