<style>
    footer{
    position:relative;
    bottom: 0;
    width: 100%;
    padding: 3vh 10vw;
    background: #212121;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: center;
}
.footer-content p{
    color: #fff;
}
</style>
<footer>
    <div class="footer-content">
        <p>Varun &copy; 2023 | All Right to Varun</p>
    </div>
</footer>
