<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-login.css">
    <title>login</title>
</head>
<body>
    <div class="form-container">
        <div class="content">
            <div class="form-msg">
                <h1>
                    Login
                </h1>
            </div>
            <div class="form-data">
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="password" required>
                    <button name="submit">Login</button>
                    <% if(error){ %>
                        <p style="color: red;"><%= error %></p>
                    <% } %>

                    <p>New to page? <a href="signup">Create an Account</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>