<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-login.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="form-container">
        <div class="content">
            <div class="form-msg">
                <h1>
                    Sign Up
                </h1>
            </div>
            <div class="form-data">
                <form action="/signup" method="post">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="password" required>
                    <% if(error){ %>
                        <p style="color: red;"><%= error %></p>
                    <% } %>
                    <button name="submit">Create Account</button>

                    <p>Already have a account? <a href="login">Login</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>